<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Home</title>
		<!-- CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	</head>
	<body>
		<div class="px-4 py-5 my-5 text-center">
			<h1 class="display-5 fw-bold">Analytics Dashboard</h1>
			<div class="col-lg-6 mx-auto">
			  <p class="lead mb-4">Analytics for users at michaeltam.site</p>
			  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<form data-bitwarden-watching="1" action="/login" method="post">
					<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
				
					<div class="form-floating">
					  <input type="text" class="form-control" id="username" name="username" autocomplete="username" required autofocus>
					  <label for="username">Username / Email</label>
					</div>
					<div class="form-floating">
					  <input id="current-password" class="form-control" name="password" type="password" autocomplete="current-password" required>
					  <label for="current-password">Password</label>
					</div>
				
					<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
				</form>
			  </div>
			</div>
		  </div>
	</body>
</html>
