<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>You have logged out</title>
		<!-- CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	</head>
	<body>
		<div class="px-4 py-5 my-5 text-center">
			<h1 class="display-5 fw-bold">You have logged out</h1>
			<div class="col-lg-6 mx-auto">
			  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<a href="/" class="btn btn-primary btn-lg px-4 gap-3">Return to Login Page</a>
			  </div>
			</div>
		  </div>
	</body>
</html>
